body {
    background-color: blueviolet;
    color: white;
}

h1 {
    text-align: center;
}

p {
    text-align: justify;
}

.img {
    border: 3px solid #d5ebcf;
    border-radius: 25px;
    display: block;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.foto {
    background-color: blueviolet;
    width: fit-content;
    display:inline-flex;
    padding-left: auto;
    padding-right: auto;
    margin-left: auto;
    margin-right: auto;
    
}


.promo {
    text-align:justify;
    color:whitesmoke;
    margin-left: auto;
    margin-right: auto;
}
.cod {
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: aqua;
    color: black;
    padding:10px 15px;
    border: 2px double black;
    border-radius: 15px;

    & p {
        text-align: center;
        font-weight: bold;
    }
}

#tombol {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid whitesmoke;
    background-color: yellow;
    color: red
}